body {
  background-color: black;
}

#projects {
  background: linear-gradient(black, white);
  padding: 2%;
  font-size: 13;
  margin-bottom: 2%;
  color: white;
  display: grid;
}

.projects-container {
  background: radial-gradient(circle, black, white);
  padding: 5%;
  margin-top: 0;
  align-content: center;
  margin: auto;
  width: 70%;
  margin-bottom: 2%;
  display: block;
}
.projects-container .project {
  align-content: center;
  margin: 5%;
  display: inline-block;
}

.project h3 {
  font-style: bold;
  color: red;
}

.project img {
  margin: 2%;
}

.card-body {
  color: black;
}

.card-body .card-title {
  font-style: bold;
  color: red;
  align-self: center;
}

#contact-form {
  color: red;
  padding: 2%;
}

#footer {
  background-color: white;
  text-align: center;
  margin-top: 5%;
  padding: 1%;
  height: 20%;
  font-family: "Dancing Script", cursive;
}

#references a {
  padding-left: 7%;
  padding-right: 7%;
}
